{:server {:port 3003}
 :app {:salary-day 25
       :styles ["/css/style.css" "//cdn.muicss.com/mui-0.9.41/css/mui.min.css"]
       :javascripts []
       :report-output-dir "data/reports"}
 :db {:name "finances"}}
