{:get {:root "/"
       :stocks "/stocks"
       :funds "/funds"}
 :post {:generate-report "/generate-report"
        :category {:add "/add-category"
                   :delete "/delete-category"
                   :update {:name "/update-name"
                            :start-balance "/update-start-balance"}}
        :transaction {:delete "/delete-transaction"}
        :transfer {:balance "/transfer/balance"
                   :start-balance "/transfer/start-balance"}
        :spend "/spend"
        :stocks {:add {:transaction "/stocks/add-transaction"}
                 :delete {:transaction "/stocks/delete-transaction"}}
        :funds {:add {:transaction "/funds/add-transaction" }
                :delete {:transaction "/funds/delete-transaction"}}}}
