{:get {:root "/"
       :debts "/debts"
       :stocks "/stocks"
       :funds "/funds"
       :reports "/reports"
       :category {:delete "/delete-category"}
       :budget {:manage-category "/budget/manage-category"
                :transaction-group "/budget/transaction-group"}}
 :post {:generate-report "/generate-report"
        :calibrate-start-balances "/calibrate-start-balances"
        :category {:add "/add-category"
                   :delete "/delete-category"
                   :hide "/hide-category"
                   :update {:label "/update-label"
                            :start-balance "/update-start-balance"}
                   :merge "/merge-categories"}
        :debt {:add "/add-debt"}
        :transaction {:delete "/delete-transaction"
                      :update {:note "/transaction/update-note"}}
        :transfer {:both "/transfer/both"
                   :balance "/transfer/balance"
                   :start-balance "/transfer/start-balance"}
        :spend "/spend"
        :stocks {:add {:transaction "/stocks/add-transaction"}
                 :delete {:transaction "/stocks/delete-transaction"}}
        :funds {:add {:transaction "/funds/add-transaction" }
                :delete {:transaction "/funds/delete-transaction"}}}}
