{:get {:root "/"
       :stocks "/stocks"
       :funds "/funds"}
 :post {:generate-report "/generate-report"
        :category {:add "/add-category"
                   :delete "/delete-category"
                   :update {:name "/update-name"
                            :limit "/update-monthly-limit"}}
        :transaction {:delete "/delete-transaction"}
        :transfer {:balance "/transfer/balance"
                   :limit "/transfer/limit"}
        :spend "/spend"
        :stocks {:add {:transaction "/stocks/add-transaction"}
                 :delete {:transaction "/stocks/delete-transaction"}}
        :funds {:add {:transaction "/funds/add-transaction" }
                :delete {:transaction "/funds/delete-transaction"}}}}
