tr > td  {
    border-left: 25px solid transparent;
}

.add-category {
    margin-top: 50px;
    margin-bottom: 50px;
}

button {
    cursor: pointer;
    background-color: #eeeeee;
}

.limit {
    width: 40px;
}

.earn {
    width: 50px;
}

.spend {
    width: 50px;
}

.stocks {
    margin-left: 200px;
    float: left;
}

.funds {
    float: right;
    margin-right: 200px;
}

.number-input {
    width: 70px;
}

.text-input {
    width: 100px;
}
